<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/styles.css")
        link(rel="stylesheet", href="./js/highlight/styles/atom-one-dark.css")
        title index
    body
        h1.title Render code v1.0
        button#button Convert
        .container
            .container__code
                textarea#code-text.container__textarea
            #code-render.container__render
                pre
                    code.javascript 
                        |for (const character of text) {
                        |   if (character == '{' || character == '}'){
                        |    newText += convertCharacter(character, 'bracket')
                        |    }
                        |    else if (character == ';') newText += convertCharacter(character, 'semicolon')
                        |    else if (character == ':') newText += convertCharacter(character, 'twoPoints')
                        |    else newText += character
                        |}
        script(src="js/scripts-min.js")
        script(src="js/highlight/highlight.pack.js")
        script.
            hljs.initHighlightingOnLoad();