<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/prism.css")
        link(rel="stylesheet", href="./css/styles.css")
        title index
    body
        h1.title Render code v1.0
        button#button Convert
        .container
            .container__code
                textarea#code-text.container__textarea
                <pre><code>
                    .selector {
                        color: red;
                    }

                    .bracket {
                        color: orangered;
                    }

                    .semicolon {
                        color: red;
                    }

                    .twoPoints {
                        color: orange;
                    }
                </code></pre>
            #code-render.container__render

        script(src="js/prism.js")
        script(src="js/scripts-min.js")